DB_USER=xxxx
DB_PASSWORD=
DB_NAME=agentengine
DB_PORT=5432

DATABASE_URL=postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}

TASK_GRAPH_DB=taskgraph
TASK_GRAPH_DATABASE_URL=postgresql+psycopg://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${TASK_GRAPH_DB}

FEISHU_APP_ID=
FEISHU_APP_SECRET=